<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={{ url_for('static', filename='ben10.png') }}
    type="image/x-icon">
    <title>Table</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Enrollment No.</th>
        <th>Name</th>
        <th>Password</th>
        <th>Phone No.</th>
      </tr>
      {% for i in items %}
      <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
